//base
*,*::before,*::after{
    box-sizing: border-box;
};
img{
    max-width: 100%;
    height: auto;
}
input{
    display: block;
}
*,*::before,*::after{
    font-family: $font-family-ch,$font-family-en, sans-serif;
}

//typesetting
.container{
    max-width: $gutters*12 + $space*11;
    margin: 0 auto;
}
.df{
    display: flex;
    margin: 0 auto;
}
.jcsb{
    justify-content: space-between;
}
.aic{
    align-items: center;
}
.gx-1{
    max-width: $gutters*1;
}
.gx-3{
    max-width: $gutters*3 + $space*2;
}
.gx-4{
    max-width: $gutters*4 + $space*3;
}
.gx-10{
    max-width: $gutters*10 + $space*9;
}
//margin
.mt-100{
    margin-top: 100px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-32{
    margin-bottom: 32px;
}
.mr-30{
    margin-right: 30px;
}
//padding
.pt-8{
    padding-top: 8px;
}
.pt-60{
    padding-top: 60px;
}
.pb-4{
    padding-bottom: 4px;
}
.pb-8{
    padding-bottom: 8px;
}
.pl-12{
    padding-left: 12px;
}
//border
.title-bb{
    border-bottom: 3px solid $primary;
}

//font
.font-1-1{
    font-size: $font-size-1;
    line-height: $light-height-1;
}
.font-1-1-m{
    font-size: $font-size-1;
    line-height: $light-height-1;
    font-weight: $font-weight-m;
}
.font-1-2{
    font-size: $font-size-1;
    line-height: $light-height-2;
}
.font-2-3{
    font-size: $font-size-2;
    line-height: $light-height-3;
}
.font-2-2{
    font-size: $font-size-2;
    line-height: $light-height-2;
}
.font-2-4{
    font-size: $font-size-2;
    line-height: $light-height-4;
}
.font-3-4-m{
    font-size: $font-size-3;
    line-height: $light-height-4;
    font-weight: $font-weight-m;
}
.font-3-4-b{
    font-size: $font-size-3;
    line-height: $light-height-4;
    font-weight: $font-weight-b;
}
.font-4-5-m{
    font-size: $font-size-4;
    line-height: $light-height-5;
    font-weight: $font-weight-m;
}

//color
.primary{
    color: $primary;
}
.font-light{
    color: $font-light-color;
}
.input-bg{
    background: $input-bg-color;
}
.btn{
    color: $bace-light-color;
    background: $primary;
}
.area{
    color: $bace-light-color;
    background: $secondary;
}


//other
.logo{
    a{
        background: url(../images/logo.png);
        height: 235px;
        display: block;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
        background-size: cover;
        margin-top: 21px;
    }
}
