//base
*,*::before,*::after{
    box-sizing: border-box;
};
img{
    max-width: 100%;
    height: auto;
}
input{
    display: block;
}
*,*::before,*::after{
    font-family: $font-family-ch,$font-family-en, sans-serif;
}

//typesetting
.container{
    max-width: $gutters*12 + $space*11;
    margin: 0 auto;
}
.row{
    display: flex;
    margin: 0 auto;
}
.gx-4{
    max-width: $gutters*4 + $space*3;
}
.gx-10{
    max-width: $gutters*10 + $space*9;
}

//font
/*.font{
    font-size: ;
    line-height: ;
    font-weight: ;
}*/
.font-1-1{
    font-size: $font-size-1;
    line-height: $light-height-1;
}
.font-1-1-m{
    font-size: $font-size-1;
    line-height: $light-height-1;
    font-weight: $font-weight-m;
}
.font-1-2{
    font-size: $font-size-1;
    line-height: $light-height-2;
}
.font-2-3{
    font-size: $font-size-2;
    line-height: $light-height-3;
}
.font-2-2{
    font-size: $font-size-2;
    line-height: $light-height-2;
}
.font-3-4-m{
    font-size: $font-size-3;
    line-height: $light-height-4;
    font-weight: $font-weight-m;
}
.font-3-4-b{
    font-size: $font-size-3;
    line-height: $light-height-4;
    font-weight: $font-weight-b;
}
.font-4-5-m{
    font-size: $font-size-4;
    line-height: $light-height-5;
    font-weight: $font-weight-m;
}
//color
.primary{
    color: $primary;
}
.font-light{
    color: $font-light-color;
}
.area{
    color: $bace-light-color;
    background: $secondary;
}
.btn{
    color: $bace-light-color;
    background: $btn-color;
}

//other
.logo{
    a{
        background: url(../images/logo.png);
        height: 235px;
        display: block;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
        background-size: cover;
        margin-top: 21px;
    }
}
