//typesetting
$gutters: 65px;
$space: 30px;

//color
$primary: #00807E;
$secondary: #64C3BF;
$bace-light-color: #FFFFFF;

$bg-color: #F7F7F7;
$input-bg-color: #FAFAFA;
$radio-border-color: #CED4DA;
$ddm-border-color: #00000020;
$radio-hover-color: #F8F9FA;
$font-light-color: #818A91;
$font-radior-color: #212529;
$btn-hover-color: #004E4D;
$border-color: #007572;
$shadow-color: #00000029;

//font
$font-family-ch: "Noto Sans";
$font-family-en: Roboto;

$font-size-1: 16px;
$font-size-2: 20px;
$font-size-3: 24px;
$font-size-4: 32px;

$light-height-1: 22px;
$light-height-2: 24px;
$light-height-3: 25px;
$light-height-4: 33px;
$light-height-5: 43px;

$font-weight-m: 500;
$font-weight-b: 700;
