/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

input {
  display: block; }

*, *::before, *::after {
  font-family: "Noto Sans", Roboto, sans-serif; }

.container {
  max-width: 1110px;
  margin: 0 auto; }

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.gx-1 {
  max-width: 65px; }

.gx-3 {
  max-width: 255px; }

.gx-4 {
  max-width: 350px; }

.gx-10 {
  max-width: 920px; }

.mt-100 {
  margin-top: 100px; }

.mb-16 {
  margin-bottom: 16px; }

.mb-32 {
  margin-bottom: 32px; }

.mr-30 {
  margin-right: 30px; }

.pt-8 {
  padding-top: 8px; }

.pt-60 {
  padding-top: 60px; }

.pb-4 {
  padding-bottom: 4px; }

.pb-8 {
  padding-bottom: 8px; }

.pl-12 {
  padding-left: 12px; }

.title-bb {
  border-bottom: 3px solid #00807E; }

.font-1-1 {
  font-size: 16px;
  line-height: 22px; }

.font-1-1-m {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500; }

.font-1-2 {
  font-size: 16px;
  line-height: 24px; }

.font-2-3 {
  font-size: 20px;
  line-height: 25px; }

.font-2-2 {
  font-size: 20px;
  line-height: 24px; }

.font-2-4 {
  font-size: 20px;
  line-height: 33px; }

.font-3-4-m {
  font-size: 24px;
  line-height: 33px;
  font-weight: 500; }

.font-3-4-b {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700; }

.font-4-5-m {
  font-size: 32px;
  line-height: 43px;
  font-weight: 500; }

.primary {
  color: #00807E; }

.font-light {
  color: #818A91; }

.input-bg {
  background: #FAFAFA; }

.btn {
  color: #FFFFFF;
  background: #00807E; }

.area {
  color: #FFFFFF;
  background: #64C3BF; }

.logo a {
  background: url(../images/logo.png);
  height: 235px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-size: cover;
  margin-top: 21px; }

/*# sourceMappingURL=all.css.map */
